exportPattern("^[[:alpha:]]+")
#' @import base
#' @import grid
#' @import grDevices
#' @import stats
#' @import tidyverse
#' @import Biobase
#' @import data.table
#' @import igraph
#' @import installr
#' @import janitor
#' @import xlsx
#' @import ggh4x
#' @import gginnards
#' @import ggraph
#' @import ggrepel
#' @import scales
#' @import plotly
#' @import see
#' @import sf
#' @import tidytext
